<footer  class='footer text-center btn-group justify-content-center'>
  <a href='https://www.linkedin.com/in/ruslan-khametov-2b7020149/' target='_blank' class="btn  btn-linkedin text-white">
      <span>
          <i class="fa fa-linkedin"></i> LinkedIn</span>
  </a>
  <a href='https://github.com/ruslan4k/nightlife_app_fcc' target='_blank' class="btn  btn-github text-white">
      <span>
          <i class="fa fa-github"></i> GitHub</span>
  </a>
  <a href='https://www.freecodecamp.org/ruslan4k' target='_blank' class="btn btn-success text-white">
      <span>
          <i class="fa fa-free-code-camp"></i> FreeCodeCamp</span>
  </a>
  <a href='https://khametov.wordpress.com/' target='_blank' class="btn  btn-primary text-white">
      <span>
          <i class="fa fa-wordpress"></i> My Blog</span>
  </a>
</footer>