<div class='btn-group' class='offset-1'>
  <button class='btn btn-success mb-2' (click)='showOutgoing()'>Outgoing requests: {{outgoingRequestsNum}}</button>
  <button class='btn btn-primary mb-2' (click)='showIncoming()'>Incoming requests: {{incomingRequestsNum}}</button>
</div>

<div *ngIf="!isHiddenOutgoing">

  <div *ngIf="requestedBooks.length > 0" class='offset-1 col-10 mb-5'>

    <div class="row">
      <div class='list-group-item col-12 mb-2'><h3>Your outgoing pending requests:</h3></div>
      <div *ngFor="let book of requestedBooks" class='list-group-item col-6 col-sm-4 mb-1'>{{book.title}}
        <a class="close" (click)="removeRequest(book._id)">&times;</a>
      </div>
    </div>
  </div>




  <div *ngIf="approvedOutgoingBooks.length > 0" class='offset-1 col-10 mb-5'>
    <div class="row">
      <div class='list-group-item col-12 mb-2'><h3>Your outgoing approved requests:</h3></div>
      <div *ngFor="let book of approvedOutgoingBooks" class='list-group-item col-6 col-sm-4 mb-1'>{{book.title}}
        <a class="close" (click)="removeRequestAUB(book._id)">&times;</a>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!isHiddenIncoming">

  <div *ngIf="incomingRequestedBooks.length > 0" class='offset-1 col-10 mb-5'>
    <div class="row">
      <div class='list-group-item col-12 mb-2'><h3>Incoming requests waiting for your approval:</h3></div>
      <div *ngFor="let book of incomingRequestedBooks" class='list-group-item col-6 col-sm-4 mb-1'>{{book.title}}
        <a class="close" (click)="removeRequestIRB(book._id)">&times;</a>
        <a class="close" (click)="approveTrade(book._id)">&#10004;</a>
      </div>
    </div>
  </div>



  <div *ngIf="approvedIncomingBooks.length > 0" class='offset-1 col-10 mb-5'>
    <div class="row">
        <div class='list-group-item col-12 mb-2'><h3>Incoming requests you've approved:</h3></div>
      <div *ngFor="let book of approvedIncomingBooks" class='list-group-item col-6 col-sm-4 mb-1'>{{book.title}}
        <a class="close" (click)="removeRequestAIB(book._id)">&times;</a>
      </div>
    </div>
  </div>
</div>




<div *ngIf="allBooks" class='row offset-1'>
  <div *ngFor="let book of allBooks" class="card  bg-light " style="width: 10rem;">
    <img class="card-img-top" height="250" width="200" src={{book.image}} alt="Card image cap">
    <div *ngIf="(book.user != authService.id) && !(book.isRequested)" class="card-body">
      <button (click)='requestBook(book._id)' class="btn btn-primary">+</button>
    </div>
  </div>
</div>