<div class = "col-12 col-md-4  offset-md-4 mt-4">
  <h1 class='text-white text-center'>Sign up</h1>


<div class="card pl-4 pr-4 pb-4 pt-4">


<div class="card-body">
        <div id="social" class='row justify-content-center text-center'>
  <a href="/auth/github" target='_self' class="btn btn-lg btn-github text-white col-1 text-center  d-flex justify-content-center align-items-center">
     
          <i class="fa fa-github fa-lg"></i>
  </a>
      <a  href="/auth/twitter" target='_self' class="btn btn-lg btn-twitter text-white col-1  d-flex justify-content-center align-items-center">
     
          <i class="fa fa-twitter fa-lg"></i>
  </a>
          <a href="/auth/facebook" target='_self' class="btn btn-lg btn-facebook text-white col-1  d-flex justify-content-center align-items-center">
      
          <i class="fa fa-facebook fa-lg"></i>
  </a>
              <a href="/auth/google"target='_self' class="btn btn-lg btn-google text-white col-1  d-flex justify-content-center align-items-center">
     
          <i class="fa fa-google fa-lg"></i>
  </a>
</div>
<p class='text-center mb-0 mt-2'>or</p>
  <div *ngIf="errMess" class="alert alert-danger alert-dismissable" role="alert">{{errMess}}
  <a class="close" (click)="removeAlert()">&times;</a>
  </div>
<form novalidate [formGroup]='signupForm' (ngSubmit)="onSubmit()">
<div  class="{{(formErrors.username) ? 'form-group has-danger' : 'form-group'}}">
  <label for="username">Username</label>
  <input type="text"  formControlName="username" placeholder="Enter username" 
  class="{{(formErrors.username) ? 'form-control form-control-danger' : 'form-control form-control-danger'}}"
  required>
  <div class="form-control-feedback">{{formErrors.username}}</div>
</div>
  <div class="{{(formErrors.email) ? 'form-group has-danger' : 'form-group'}}">
  <label for="email">Email address (optional)</label>
  <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
  <div *ngIf=formErrors.email class="form-control-feedback">Please provide correct email</div>
</div>
<div class="pb-2" class="{{(formErrors.password) ? 'form-group has-danger' : 'form-group'}}">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" class="form-control" formControlName="password" placeholder="Enter password" required>
  <div class="form-control-feedback">{{formErrors.password}}</div>
</div>
  <button type="submit" class="btn btn-primary btn-block" [disabled] = loading >{{submit}}</button>
</form>
</div>
</div>

</div>
